/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.code-note
  font-size .75rem
  margin 0 10px
  color lighten($textColor, 10%)